.DS_Store
/_site
Gemfile.lock
vendor/
assets/vendor/jquery/build
assets/vendor/jquery/speed
assets/vendor/jquery/src
assets/vendor/jquery/test
assets/vendor/octicons/svg
assets/vendor/**/*.md
assets/vendor/**/*.txt
assets/vendor/bootstrap-sass/assets/javascripts/
.sass-cache
.env
.jekyll-metadata
tmp/
assets/Merged_All_dict.json
Merged_All_dict.json
_includes/chunked_json/scenery.json
_layouts/chunked_json/scenery.json
assets/chunked_json/scenery.json
chunked_json/scenery.json
