<div class="text-center">
  <ul style="background-color: slategrey;padding-top: 5px;padding-bottom: 5px;">
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="/art" class="text-white">Art</a></li>
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="/travel" class="text-white">Travel</a></li>
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="/media" class="text-white">Media</a></li>
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="/other" class="text-white">Other</a></li>
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://www.youtube.com/watch?v=psFzJv8g6jc" class="text-white"> </a></li>
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://www.youtube.com/watch?v=psFzJv8g6jc" class="text-white"> </a></li>
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://www.youtube.com/watch?v=psFzJv8g6jc" class="text-white"> </a></li>
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://www.youtube.com/watch?v=psFzJv8g6jc" class="text-white"> </a></li>
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://www.youtube.com/watch?v=psFzJv8g6jc" class="text-white"> </a></li>
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://www.youtube.com/watch?v=psFzJv8g6jc" class="text-white"> </a></li>
  </ul>
</div><br><br>