<div class="text-center">
  <ul style="background-color: slategrey;padding-top: 5px;padding-bottom: 5px;">
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="/activism" class="text-white">Activism & Volunteer work</a></li>
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="/posters" class="text-white">Student Posters</a></li>
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="/misc" class="text-white">Organizations & Workshops</a></li>
    <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://www.youtube.com/watch?v=psFzJv8g6jc" class="text-white">  </a></li>
  </ul>
</div><br><br>